//- include file head
include ../components/global/head.pug
//- include file start body 
include ../components/global/body.pug

h1 kkdkdkdkkdkdkdkdkdk

//- include file singup
script(src="./js/singup.js") 