:root {
  --primary: #eb4c13;
  --secondary: #000;
  --secondary1: #0a0909;
  --pr: #000000e0;
}
body.no_scroll {
  overflow: hidden;
}
.show-nav {
  display: block !important;
  top: 40px;
  display: block !important;
  background-color: var(--secondary);
  top: 61px;
  width: 100%;
  padding: 10px 0;
  order: 3;
}
.show-nav a {
  padding-left: 4px;
  padding-right: 4px;
}
.tra-1 {
  transition: 0.4s ease-out;
}
.deep {
  background-color: var(--pr);
  left: -100%;
  transition: 0.3s ease-out;
}
.home {
  height: 100px;
}
.send_form {
  left: -100%;
  top: 30%;
  transition: 0.2s ease-out;
  transform: translate(-50%, -50%);
}
.overly {
  left: 0%;
}
.send_form.overly {
  transition-delay: 0.2s;
  left: 50%;
}
.send_form.overly input {
  width: 320px;
}
.send_form.overly button {
  background-color: var(--primary);
}
.send_form.overly button:focus {
  box-shadow: none;
}
.link-h {
  border-color: var(--secondary) !important;
  transition: border 0.2s ease;
}
.link-h:hover {
  border-color: var(--primary) !important;
}
input[type="search"] {
  outline: none;
  /* border-color: currentColor !important; */
}
input[type="search"] {
  outline: none;
}
i {
  font-weight: 500;
}
img.logo {
  width: 100px;
  max-width: 100px;
}
/* start hader */
header button:focus {
  box-shadow: none !important;
}
header ul {
  flex-grow: 2;
}
/* end header */
/* start footer */

footer {
  background-color: var(--secondary1);
}
footer a.link-h {
  border-color: --secondary1 !important;
  /* reset currentColor */
}
footer h4 {
  color: var(--bs-gray-600);
}
footer p {
  color: #727272 !important;
}
footer a.h-4 {
  font-size: 12px !important;
}
footer .footer-bottom {
  border-color: #181b1e !important;
}
/* end footer */
