//- include file head
include ../../components/global/head.pug
//- include file start body 
include ../../components/global/body.pug


div.overflow-hidden.d-flex.justify-content-center.align-items-center.position-relative(style="height:100vh")
    img(src="/image/err404.jpg" alt="image not found page" style="width:200vw")
    a.position-absolute.text-capitalize.text-black(style="top:20px;right:30px" href="/" rel="noopener noreferrer") get page home