header.bg-white
    nav 
        .container-fluid.p-0
            .nav.p-0.d-flex.justify-content-between.align-items-stretch
                .logo-img.flex-grow-1.py-3.px-3.d-flex.align-items-center
                    a(class="border-0" href="/data/dach")
                        img(class="logo" src="/public/images/logo.png" alt=" image logo site", )
                //- .search.flex-grow-1.d-flex.justify-content-end.justify-content-sm-end.justify-content-md-center
                //-     .form.c-pointer
                //-         button.btn(id="show_from")
                //-             <i class="text-white fas fa-search"></i>
                .nav-ul.px-3.tra-1.d-flex.align-items-stretch.justify-content-end(id="nav")  
                    div.d-flex.align-items-stretch.justify-content-end
                        div.d-flex.align-items-center 
                            div.mx-2.btn-search.rounded.d-flex.align-items-stretch.overflow-hidden
                                input.py-2.px-3(type="text" name="search" placeholder="enter something") 
                                button.py-2.px-3.d-flex.align-items-center.justify-content-center(id="show_from")
                                    <i class="fas fa-search"></i>
                        div.d-flex.align-items-stretch 
                            button.a.py-2.px-3 
                                <i class="far fa-bell"></i>
                        div.d-flex.align-items-stretch.position-relative
                            button.a.py-2.px-3
                                img.rounded-circle(src="/images/profile.png" alt=" image profile admin ")
                                span  ahhahshs
                            div.d-none.set.rounded.position-absolute
                                div
                                    p.text-capitalize.text-white.m-0.py-3.px-2 abdelkall jsjsjsjsj
                                div 
                                    a.text-white.text-capitalize.d-block.py-3.px-2(href="http://") setting
                                div 
                                    button.border-0.text-white.w-100.d-block.py-3.px-2(id="logout") logOut

                            //- -if(!user.id)

                            //- -else 



                button.text-white.btn.d-block.d-md-none(id="show-nav") 
                    <i class="fas fa-bars"></i>