header.bg-black.py-1
    nav 
        .container-fluid
            .nav.d-flex.justify-content-between.align-items-center.py-2
                .logo.flex-grow-1
                    a(class="rounded link-h p-2 border-2 border" href="/")
                        img(class="logo" src="./image/logo.png" alt="", )
                .search.flex-grow-1.d-flex.justify-content-end.justify-content-sm-end.justify-content-md-center
                    .form.c-pointer
                        button.btn(id="show_from")
                            <i class="text-white fas fa-search"></i>
                .nav-ul.flex-grow-1.d-flex.justify-content-end.d-none.d-md-block.tra-1(id="nav")  
                    div
                        ul.p-0.w-100.d-flex.m-0.justify-content-evenly.align-items-center
                            li.list-inline 
                                a.text-capitalize.text-decoration-none.text-white.d-block.px-2.py-2.link-h.border-1.rounded.border categories
                            li.list-inline
                                a.text-capitalize.text-decoration-none.text-white.d-block.px-2.py-2.link-h.border-1.rounded.border salle
                            li.list-inline
                                a.text-capitalize.text-decoration-none.text-white.d-block.px-2.py-2.link-h.border-1.rounded.border sign in
                            li.list-inline
                                a.text-capitalize.text-decoration-none.text-white.d-block.px-2.py-2.link-h.border-1.rounded.border sign up
                button.text-white.btn.d-block.d-md-none(id="show-nav") 
                    <i class="fas fa-bars"></i>