div.message.position-fixed.alert.alert-warning.end-0(id="message")
    h4.d-flex.justify-content-between.align-items-center
        span.text-capitalize.fs-6 oupt message
        span.text-black
            i.fas.fa-times
    div.p-2.d-flex.justify-content-center 
        img(src="" alt="image message ")